body {
  font-family: 'Segoe UI', sans-serif;
  background: url('../../images/fondo_PC.png') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(2px);
  margin: 0;
  padding: 0;
}

.contenedor-estadisticas {
  max-width: 960px;
  margin: 80px auto;
  background-color: rgba(255,255,255,0.96);
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.contenedor-estadisticas h2 {
  text-align: center;
  color: #343062;
  font-size: 24px;
  margin-bottom: 30px;
}

canvas {
  margin-bottom: 50px;
}
